* {
  box-sizing: border-box; }

nav {
  overflow: hidden; }

nav a {
  text-decoration: none;
  display: inline-block;
  float: left;
  padding: 0 11px;
  color: #556268;
  line-height: 45px; }

.banner {
  height: 200px;
  background: green url(../images/background.jpg);
  background: cover;
  padding: 60px 0;
  margin-bottom: 50px; }

.headline, .sub-headline {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  line-height: 16px;
  color: white;
  font-weight: normal;
  text-shadow: 1px 1px 1px black; }

.options {
  margin: 0 10px; }

.option-banner {
  height: 220px;
  text-align: center;
  padding: 25px; }

.option-banner-level {
  font-size: 16px;
  letter-spacing: .2em;
  color: white; }

.option-banner-price {
  font-size: 100px;
  color: white; }

.option-banner-per-month {
  font-size: 18px;
  color: #aaa; }

.option-perk {
  height: 45px;
  background: #F7F7F7;
  text-align: center;
  border: 1px solid #E8E8E8;
  line-height: 45px;
  color: #556268; }

.option-button-container {
  height: 85px;
  text-align: center;
  border: 1px solid #E8E8E8;
  margin-bottom: 35px; }

.choose-button {
  border: 1px solid #E8E8E8;
  border-radius: 2em;
  font-weight: bold;
  font-size: 18px;
  padding: 7px;
  width: 90px;
  text-align: center;
  margin: 25px auto; }

.choose-button a {
  text-decoration: none;
  color: black; }

.option-personal-banner {
  background: #40843D; }

.option-small-business-banner {
  background: #203370; }

.option-enterprise-banner {
  background: black; }

.features {
  padding: 0 40px;
  margin: 115px 0 0 0;
  font-weight: normal; }

.features h3 {
  margin: 60px 0 0 0;
  letter-spacing: .3em; }

.features p {
  color: #556268;
  padding: 3px;
  line-height: 24px; }

footer {
  color: #556268;
  background: black;
  text-align: center;
  padding: 10px 45px;
  line-height: 24px; }

footer a {
  color: #E3E3E3; }

@media (min-width: 479px) {
  .banner {
    height: 400px;
    padding: 150px 0;
    font-size: 1.5em;
    line-height: 22px; }
  .headline, .sub-headline {
    line-height: 30px; } }

@media (min-width: 767px) {
  .options {
    overflow: hidden;
    margin: 0; }
  .option-personal, .option-small-business, .option-enterprise {
    width: 33.3%;
    float: left;
    border-left: 10px solid white;
    border-right: 10px solid white; }
  .features {
    overflow: hidden;
    margin-top: 0; }
  .feature-get-started, .feature-pay-schedule, .feature-support, .feature-cancel {
    width: 50%;
    float: left;
    border-left: 10px solid white;
    border-right: 10px solid white;
    padding: 0 20px; } }

@media (min-width: 979px) {
  .options, .features {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto; } }
